package dao

import (
	"gorm.io/gorm"
	"IOTProject/internal/app/{{.appName}}/model"
)

type {{.appName}} struct {
	*gorm.DB
}

func (u *{{.appName}}) Init(db *gorm.DB) (err error) {
	u.DB = db
	return db.AutoMigrate(&model.{{.appNameExport}}{})
}