package dao

import (
	"gorm.io/gorm"
)

var (
	{{.appNameExport}} = &{{.appName}}{}
)

func InitOP(db *gorm.DB) error {
	err := {{.appNameExport}}.Init(db)
	if err != nil {
		return err
	}

	return err
}