package router

import (
	"DatabaseLab/middleware/response"
	"errors"
	"github.com/gin-gonic/gin"
)

func App{{.appNameExport}}Init(e *gin.Engine) {
	e.GET("/{{.appName}}/v1", func(c *gin.Context){
	    response.HTTPSuccess(c, map[string]any{
            "message": "{{.appName}} Init Success",
        })
    })

    e.GET("/{{.appName}}/v1/err", func(c *gin.Context){
        response.HTTPFail(c, 500000, "{{.appName}} Init test error", errors.New("this is err"))
    })
}
