package router

import (
	"DatabaseLab/middleware/response"
	"errors"
	"github.com/gin-gonic/gin"
)

func App{{.appNameExport}}Init(e *gin.Engine) {
	e.GET("/{{.appName}}/v1", func(c *gin.Context){
	    response.HttpResponse(response.ReturnResponse(c, 200000, "users Init test", nil, nil))
    })

    e.GET("/{{.appName}}/v1/err", func(c *gin.Context){
        response.ServiceError(c, errors.New("error test"))
    })
}
